body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h5 {
  font-family: var(--font-red-hat-display) !important;
}

p,
h2,
h3,
h4 {
  font-family: var(--font-inter) !important;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.overscroll-auto {
  -ms-scroll-chaining: chained;
  overscroll-behavior: auto;
}

.overscroll-contain {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.overscroll-none {
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.overscroll-y-auto {
  overscroll-behavior-y: auto;
}

.overscroll-y-contain {
  overscroll-behavior-y: contain;
}

.overscroll-y-none {
  overscroll-behavior-y: none;
}

.overscroll-x-auto {
  overscroll-behavior-x: auto;
}

.overscroll-x-contain {
  overscroll-behavior-x: contain;
}

.overscroll-x-none {
  overscroll-behavior-x: none;
}

/* Custom scrollbar */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 20px;
}
html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
